<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-inline';style-src 'unsafe-inline'"> -->
    <!-- <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'"> -->
    <!-- <script src='./jquery-3.5.1.js'></script> -->
    <link rel='stylesheet' href="./bootstrap.min.css">
    <script>window.$ = window.jQuery = require('./jquery-3.5.1.js')</script>
    <script src='./popper.min.js'></script>
    <script src='./bootstrap.min.js'></script>
    <title id='web_title'>阅读器</title>
    <style type="text/css">
    .comic_list {
      color:black;
      width: 100px;
      position: absolute;
      left: 0px;
      background-color: #f3f3f3;
      height: 100%;
    }
    .comic_content{
      color: aquamarine;
      position: absolute;
      left: 100px;
    }
    table.division{
      border-left-style: solid;
      border-right-style: none;
      border-top-style: none;
      border-bottom-style: none;
      /* color: beige; */
      /* border-color: beige; */
      border-color: black;
      color: black;
    }
    table.division:hover{
      cursor:w-resize
    }
    span{
      width: 100%;
      display: inline-table;
      background-color: #f3f3f3;
      overflow: hidden;
      white-space: nowrap;
    }
    span:hover{
      width: 100%;
      display: inline-table;
      cursor: pointer;
      background-color: #e8e8e8;
    }
    </style>
  </head>
  <body>
    <div id='app'>
      <div class="comic_list" style="overflow: auto;">
        <div class="accordion" id='comicAccordion'>
          <div class="card">
            <button id='readBtn' onclick="read_file()" class="btn btn-secondary">打开文件夹</button>
            <div v-for='(comicTitle, title_index) in comicTitles'>
              <span :id='comicTitle.name' class="comic_title" data-toggle="collapse" style="background-color: #fabe19;" 
              :data-target="'#comic' + title_index" @click='sortByTime(title_index, comicTitle.sorted)'>{{comicTitle.name}}</span>
              <div :id='"comic" + title_index' class="collapse hide" :data-parent="'#' + comicTitle.name">
                <span v-for='(chapter, comic_index) in comicTitle.chapters' :id='"comic" + title_index + "_" + comic_index'
                @click='readChapter(title_index, comic_index)'>{{chapter.name}}</span>
              </div>
            </div>
          </div>
        </div>
        <table border="3px" cellpadding='0' cellspacing='0' style="height: 100%;left: 100px;position: absolute;top: 0px;" id='division_table_w' class="division"></table>
      </div>

      <div class="comic_content border border-primary" id="comic_sceen" style="overflow: auto; max-height: 100%;">
        <div id='comic_slide' class="carousel">
          <div class='carousel-inner'>
            <div v-for="currentComic in currentComics">
              <div :class="currentComic.isactive">
                <div v-if="currentComic.isactive" class="carousel-item active">
                  <img :src="currentComic.path" class="d-block w-100" alt='...'>
                </div>
                <div v-else="currentComic.isactive" class="carousel-item">
                  <img :src="currentComic.path" class="d-block w-100" alt='...'>
                </div>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#comic_slide" role='button' onclick="stopSlide(-1)" data-slide="prev" id="focus_button">
            <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span> -->
          </a>
          <a class="carousel-control-next" href="#comic_slide" role='button' onclick="stopSlide(1)" data-slide="next">
            <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span> -->
          </a>
        </div>
        <!-- 错误弹框 -->
        <div class="position-fixed bottom-0 right-0 p-3" style="z-index: 5; right: 0; bottom: 0;">
          <div id="errToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000">
            <div class="toast-header">
              <!-- <img src="..." class="rounded mr-2" alt="..."> -->
              <strong class="mr-auto">错误</strong>
              <small>刚刚</small>
              <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="toast-body">
              当前文件夹已经存在记录.
            </div>
          </div>
        </div>
        <!-- <h1>Hello World!</h1>
        We are using Node.js <span id="node-version"></span>,
        Chromium <span id="chrome-version"></span>,
        and Electron <span id="electron-version"></span>.
        <br>
        <span>Now open your comic folder</span> -->
      </div>
    </div>

    <!-- You can also require other files to run in this process -->
    <script src="./renderer.js"></script>
  </body>
  <script>
    // 添加鼠标绑定事件，拖动改变模块大小
    $(function(){bindResize($('#division_table_w'))});

    function bindResize(el){
      let els = el.style;
      $(el).mousedown(function(e){
        // 鼠标事件捕获
        el.setCapture ? (
          el.setCapture(),
          el.onmousemove = function(ev){
            mouseMove(ev || event)
          },
          el.onmouseup = mouseUp
        ):(
          $(document).bind('mousemove', mouseMove).bind('mouseup', mouseUp)
        )
        e.preventDefault()
      });
      // 实现鼠标拖动的功能
      function mouseMove(e){
        // 获取当前鼠标在窗口内的横坐标位置
        let x = e.clientX;
        // 控制位置范围
        if(e.clientX < 80){
          x = 80; 
        }
        else if(e.clientX > 200){
          x = 200;
        }
        // 更改相关模块的大小
        $('.comic_list').width(x);
        $('.comic_content').offset({left:x + 5});
        $('#division_table_w').offset({left:x - 3});
      }
      // 鼠标放开，删除注册事件
      function mouseUp(){
        el.releaseCapture ? (
          el.releaseCapture(),
          el.onmousemove = el.onmouseup = null
        ) : (
          $(document).unbind("mousemove", mouseMove).unbind('mouseup', mouseUp)
        )
      }
    }
    


  </script>
</html>
